<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This is a very lightweight and responsive forum system created by Elvin Ortiz (Georgetown University College 2015). The PHP and HTML are all coded from scratch whereas the CSS is based on the Bootstrap framework.">
        <meta name="author" content="Elvin Ortiz">

        <title>{% block title %}{{globals.pageTitle}}{% endblock %}</title>

         <!-- Bootstrap core CSS -->
        <link href="http://127.0.0.1/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Bootstrap theme -->
        <link href="http://127.0.0.1/css/bootstrap-theme.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="http://127.0.0.1/css/navbar-static-top.css" rel="stylesheet">
        <link href="http://127.0.0.1/css/sticky-footer.css" rel="stylesheet">
        
        <!-- Our special font -->
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,300,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
        
        <!-- Bootstrap overwrites -->
        <link href="http://127.0.0.1/css/extra.css" rel="stylesheet">
        
        <!-- Let's get our Javascript libraries -->    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.min.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-static-top navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="about"></a></li>
                <li><a href="stats"></a></li>
             </ul>
              <ul class="nav navbar-nav navbar-right">
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        <div class="toolbar-background"></div>
        <div class="toolbar">
            <ul>
                <li><a href="dashboard">Dashboard</a></li>
                <li><a href="forums">Forums</a></li>
                <li><a href="categories">Categories</a></li>
                <li><a href="dashboard">Users</a></li>
                <li><a href="forums">Permissions</a></li>
                <li><a href="categories">Settings</a></li>
            </ul>
        </div>
        <div class="admin-container">
            {% block body %}{% endblock %}
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../js/ie10-viewport-bug-workaround.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>